[submodule "ingadhoc/odoo-argentina"]
	path = ingadhoc/odoo-argentina
	url = git@github.com:ingadhoc/odoo-argentina.git
	branch = 15.0

[submodule "ingadhoc/odoo-argentina-ce"]
	path = ingadhoc/odoo-argentina-ce
	url = git@github.com:ingadhoc/odoo-argentina-ce.git
	branch = 15.0

[submodule "ingadhoc/account-invoicing"]
	path = ingadhoc/account-invoicing
	url = git@github.com:ingadhoc/account-invoicing.git
	branch = 15.0

[submodule "ingadhoc/account-financial-tools"]
	path = ingadhoc/account-financial-tools
	url = git@github.com:ingadhoc/account-financial-tools.git
	branch = 15.0

[submodule "ingadhoc/account-payment"]
	path = ingadhoc/account-payment
	url = git@github.com:ingadhoc/account-payment.git
	branch = 15.0

[submodule "ingadhoc/product"]
	path = ingadhoc/product
	url = git@github.com:ingadhoc/product.git
	branch = 15.0

[submodule "OCA/product-pack"]
	path = OCA/product-pack
	url = git@github.com:OCA/product-pack.git
	branch = 15.0
